.nav-link{
 &:hover{
    opacity: 0.8;
 }
}

.close{
   top:30%;
   right:2%;
}
.navbarLine{
   height: 2px;
}

.submit{
   background:linear-gradient(to right, $primary ,$secondary);
   &:hover{
      background:linear-gradient(to left, $primary ,$secondary);
   }
}
.login-icon {
   width: 24px;
   height: 24px;
   position: absolute;
   left: 32px;
}
.line-deco{
   position: relative;
   &::before{
      content: "";
      position: absolute;
      top: 50%;
      background: #C1C1C1;
      width: 30%;
      height: 1px;
      left: 0%;
  }
  &::after{
   content: "";
   position: absolute;
   top: 50%;
   background: #C1C1C1;
   width: 30%;
   height: 1px;
   right: 0%;
}
   
}