.nav-link{
 &:hover{
    opacity: 0.8;
 }
}


#collapseExample{
   // position: absolute;
   right:0; 
   top: 100%;
   @include RWD(576px){
      position: absolute;
      z-index: 15;
   }
}
#menu{
   cursor: pointer;
}