// {
//    &::after{
//       content: "";
//       width: 100%;
//       height: 2px;
//       position: absolute;
//       bottom: 0;
//       left: 0;
//       background:linear-gradient(to right, $primary ,$secondary);
//    }
// }
.logo {
   background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/logo.svg);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   width: 175px;
   height: 100%;
   text-indent: 101%;
   white-space: nowrap;
   overflow: hidden;

   @include RWD(576px) {
      width: 24px;
      background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/logo2.svg);
   }
}

.nav-link {
   &:hover {
      opacity: 0.8;
   }
}

.close {
   top: 30%;
   right: 2%;
}

.navbarLine {
   height: 2px;
}

.submit {
   background: linear-gradient(to right, $primary , $secondary);

   &:hover {
      background: linear-gradient(to left, $primary , $secondary);
   }
}

.login-icon {
   width: 24px;
   height: 24px;
   position: absolute;
   left: 32px;
}

.line-deco {
   position: relative;

   &::before {
      content: "";
      position: absolute;
      top: 50%;
      background: #C1C1C1;
      width: 30%;
      height: 1px;
      left: 0%;
   }

   &::after {
      content: "";
      position: absolute;
      top: 50%;
      background: #C1C1C1;
      width: 30%;
      height: 1px;
      right: 0%;
   }

}
.navbar {
   position: relative;
 }
.navbar::after {
   content: "";
   position: absolute;
   left: 0;
   top: 100%;
   width: 100%;
   height: 2px;
   background-image: linear-gradient(90deg, $primary 50%, $secondary 50%);
   @include RWD(576px){
      top:70px;
   }
} 