.firstView{

    &_bgImg{
        padding: 205px 0;
        background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/bg_home.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        @include RWD(576px){
            padding: 85px 0;
            background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/bg_home_mobile.jpg);
        }
    }
    //  文字漸層
    h1{
        background: linear-gradient(to bottom, $info, $success, $success);
        background-clip: text;
        color: transparent;
    }
    .square{
        width: 10px;
        height: 10px;
    }
}
.home{

    &_point{
        &_line{
            width: 50px;
            border-bottom: 3px solid $success;
        }
    }
    &_title{
        opacity: 0.7;
        cursor: pointer;
        border: 1px solid $primary;
        &:hover{
            opacity: 1;
            border: 1px solid $success;
            border-radius: 12px;
            background-color: $dark;
            span{
                background: linear-gradient(to bottom, $info, $success);
                background-clip: text;
                color: transparent;
            }
        }
        @include RWD(576px){
            span{
                font-size: 50px;
                background: linear-gradient(to bottom, $info, $success);
                background-clip: text;
                color: transparent;
            }
            opacity: 1;
            background-color: $dark2;
            border-radius: 12px;
        }
    }
}

.class{
    &_point{
        &_line{
            width: 50px;
            border-bottom: 3px solid $success;
        }
    }
    @include RWD(567px){
        &_number{
            font-size: 48px;
        }
        
    }
}
.skill{
    &_point{
        &_line{
            width: 50px;
            border-bottom: 3px solid $success;
        }
    }
}

.science{
    &_point{
        &_line{
            width: 50px;
            border-bottom: 3px solid $success;
        }
    }
    &_control{
        img{
            width: 100px;
        }
        cursor: pointer;
        border: 1px solid $primary;
        &:hover{
            border: 1px solid $success;
        }
    }
    &_link{
        background: linear-gradient(to right, $info, $success);
        text-decoration: none;
        &:hover{
            opacity: 0.8;
        }
    }
   
}

.color{
    color:$success;
}
.info{
    
    &_point{
        z-index: 1;
    }
    &_line{
        width: 70px;
        border-bottom: 3px solid $light;
        z-index:1;
    }
    &_color{
        opacity: 0.9;
        &:hover{
            opacity: 0;
        }
    }
    
    // 背景圖
    &_control{
        padding: 215px 0;
        background-size: cover;
        background-repeat: no-repeat;
        @include RWD(567px){
            padding: 40px 0;
        }
    }
    &_img1{
        background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/info01.jpg);
    }
    &_img2{
        background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/info02.jpg);
    }
    &_img3{
        background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/info03.jpg);
    }
    &_img4{
        background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/info04.jpg);
    }
}

.share{
    &_point{
        &_line{
            width: 50px;
            border-bottom: 3px solid $success;
        }
    }
    .card{
        cursor: pointer;
    }
    .square{
        width: 32px;
        height: 32px;
        display: none;
        &-topLeft {
            border-top: 2px solid $success;
            border-left: 2px solid $success;
            border-top-left-radius: 10px;
        }
        &-topRight {
        border-top: 2px solid $success;
        border-right: 2px solid $success;
        border-top-right-radius: 10px;
        }
        &-bottomLeft {
        border-bottom: 2px solid $success;
        border-left: 2px solid $success;
        border-bottom-left-radius: 10px;
        }
        &-bottomRight {
        border-bottom: 2px solid $success;
        border-right: 2px solid $success;
        border-bottom-right-radius: 10px;
        }
    }
    .card:hover {
        .square {
            display: block;
        }
    }
}

.goal{
    &_point{
        &_line{
            width: 50px;
            border-bottom: 3px solid $success;
        }
    }
    width: 100%;
    background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/bg_share.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    img{
        width: 40%;
    }
    &_share{
        margin-left: 20%;
    }
    &_control{
        z-index: 1;
        top: 65%;
        right: -10%;
    }
    &_student{
        width: 40%;
        height: 100%;
        border-top-left-radius:24px;
        border-top-right-radius:24px;
        border-bottom-right-radius:24px;
        img{
            width: 100px;
        }
    }
}
.join{
    &_icon{
        font-size: 100px;
    }
}