.navbar{
    a{
        text-decoration: none;
        color: $light;
        &:hover{
            color:$dark 
        }
    }
    .lock{
        color: $secondary;
    }
    &-list{
        overflow: hidden;
        @media(max-width:991px) {
            overflow: scroll;
        }
    }
}
.card{
    border-radius: 24px;
  .title{
    width: 60%;
    @include RWD(576px){
        width: 100%;
    }
  }  
}